<div class="container">
    <form class="text-center">
        <img src="../../../assets/images/book-reader.png" width="10%" alt="">
    <div class="input-group mt-5 mb-3">
        <span class="input-group-text" id="basic-addon1">First Name</span>
        <input type="text" class="form-control" placeholder="Enter Your first name" aria-label="first name" aria-describedby="basic-addon1">
      </div>
      
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Last Name</span>
        <input type="text" class="form-control" placeholder="Enter Your last name" aria-label="last name" aria-describedby="basic-addon1">
      </div>

    
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Age</span>
        <input type="number" class="form-control" placeholder="Enter Your Age" aria-label="Age" aria-describedby="basic-addon1">
      </div>
      
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Email</span>
        <input type="text" class="form-control" placeholder="Enter your Email"  aria-label="Email" aria-describedby="basic-addon1">
      </div>
      
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Contact Number</span>
        <input type="text" class="form-control" placeholder="Enter Your Contact number" aria-label="Contact number" aria-describedby="basic-addon1">
      </div>

        <button class="btn btn-primary float-end" >Register</button>
    </form>
</div>
  
  
<!-- Modal -->
  
  <!-- <div class="modal fade" id="exampleModal" aria-hidden="true" aria-labelledby="exampleModalLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Modal 1</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Show a second modal and hide this one with the button below.
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" [routerLink]="['/viewbooks']" data-bs-dismiss="modal">View Books</button>
        </div>
      </div>
    </div>
  </div> -->