<div class="container">
    <form class="text-center">
        <img src="../../../assets/images/add-book.png" width="10%" alt="">
    <div class="input-group mt-5 mb-3">
        <span class="input-group-text" id="basic-addon1">ISBN</span>
        <input type="text" class="form-control" placeholder="Enter ISBN Number of book" aria-label="ISBN" aria-describedby="basic-addon1">
      </div>
      
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Title</span>
        <input type="text" class="form-control" placeholder="Enter Title of the book" aria-label="Title" aria-describedby="basic-addon1">
      </div>

    
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Author</span>
        <input type="text" class="form-control" placeholder="Enter Author's Name of book" aria-label="Author" aria-describedby="basic-addon1">
      </div>
      
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Category</span>
        <input type="text" class="form-control" placeholder="Category Of Book" aria-label="Category" aria-describedby="basic-addon1">
      </div>
      
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Quantity</span>
        <input type="number" class="form-control" placeholder="Enter Quantity" aria-label="Quantity" aria-describedby="basic-addon1">
      </div>

        <button class="btn btn-primary float-end">Add Book</button>
    </form>
</div>